<div class="signup-contain">
	<div class="home-signup">
					<h3>Sign Up</h3>

					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					  <%= devise_error_messages! %>

						  	<%= f.email_field :email, placeholder: "Email", class: "input-field" %>
						  	<%= f.password_field :password, placeholder: "Password", class: "input-field" %>
						  	<%= f.password_field :password_confirmation, placeholder: "Re-type Password", class: "input-field" %>

					  <div class="modal-footer">
					  	<%= f.submit "Sign up for LBO: The App", class: "btn btn-success signup-btn" %>
					  </div>
					<% end %>
	</div>
</div>
