<!-- modal for EDIT DEAL in /deals/:id -->
<div id="editDealModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editDealModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="editDealModalLabel" class="h3-view">Edit Deal: <%= @deal.name %></h3>
		  </div>
		  <div class="modal-body">
				<%= form_for :deal, url: "/deals/#{@deal.id}", method: :patch do |f| %>
					<%= f.text_field :name, placeholder: "Company Name", class: "entry-text-field", value: @deal.name %></br>
					<%= f.text_field :city, placeholder: "Company City", class: "entry-text-field", value: @deal.city  %></br>
					<%= f.text_field :state, placeholder: "Company State (ex: IN)", class: "entry-text-field", value: @deal.state %></br>
					<%= f.text_field :round_type, placeholder: "ex: millions", class: "entry-text-field", value: @deal.round_type %></br>
					<h3>Entry Metrics</h3>
					<%= f.text_field :entry_year, placeholder: "Entry Year (YYYY)", class: "entry-field", value: @deal.entry_year %></br>
					<%= f.text_field :entry_revenue, placeholder: "Revenue", class: "entry-field", value: @deal.entry_revenue %></br>
					<%= f.text_field :entry_gp, placeholder: "Gross Profit", class: "entry-field", value: @deal.entry_gp %></br>
					<%= f.text_field :entry_EBITDA, placeholder: "EBITDA", class: "entry-field", value: @deal.entry_EBITDA %></br>
					<%= f.text_field :entry_capex, placeholder: "Capex", class: "entry-field", value: @deal.entry_capex %></br>
					<%= f.text_field :purchase_multiple, placeholder: "Purchase Multiple", class: "entry-field", value: @deal.purchase_multiple %></br>
					<%= f.text_field :leverage_multiple, placeholder: "Leverage Multiple", class: "entry-field", value: @deal.leverage_multiple %></br>
					<h3>Exit Assumptions</h3>
					<%= f.text_field :exit_year, placeholder: "Exit Year (YYYY)", class: "entry-field", value: @deal.exit_year %></br>
					<%= f.text_field :exit_revenue, placeholder: "Revenue", class: "entry-field", value: @deal.exit_revenue %></br>
					<%= f.text_field :exit_gp, placeholder: "Gross Profit", class: "entry-field", value: @deal.exit_gp %></br>
					<%= f.text_field :exit_EBITDA, placeholder: "EBITDA", class: "entry-field", value: @deal.exit_EBITDA %></br>
					<%= f.text_field :exit_capex, placeholder: "Capex", class: "entry-field", value: @deal.exit_capex %></br>
					<%= f.text_field :exit_multiple, placeholder: "Exit Multiple", class: "entry-field", value: @deal.exit_multiple %></br>
					<%= f.text_field :debt_paydown_multiple, placeholder: "Debt Multiple Paid Down", class: "entry-field", value: @deal.debt_paydown_multiple %></br>
			</div>

			<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel Update</button>
					<%= f.submit "Update Deal", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>	
</div>