<!-- modal for NEW DEAL in /deals -->
<div id="newDealModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newDealModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="newDealModalLabel" class="h3-view">New Deal</h3>
		  </div>
		  <div class="modal-body">
				<%= form_for :deal, url: "/deals" do |f| %>
					<%= f.text_field :name, placeholder: "Company Name", class: "entry-text-field" %></br>
					<%= f.text_field :city, placeholder: "Company City", class: "entry-text-field" %></br>
					<%= f.text_field :state, placeholder: "Company State (ex: IN)", class: "entry-text-field" %></br>
					<%= f.text_field :round_type, placeholder: "ex: millions", class: "entry-text-field" %></br>
					<h3>Entry Metrics</h3>
					<%= f.text_field :entry_year, placeholder: "Entry Year (YYYY)", class: "entry-field" %></br>
					<%= f.text_field :entry_revenue, placeholder: "Revenue", class: "entry-field" %></br>
					<%= f.text_field :entry_gp, placeholder: "Gross Profit", class: "entry-field" %></br>
					<%= f.text_field :entry_EBITDA, placeholder: "EBITDA", class: "entry-field" %></br>
					<%= f.text_field :entry_capex, placeholder: "Capex", class: "entry-field" %></br>
					<%= f.text_field :purchase_multiple, placeholder: "Purchase Multiple", class: "entry-field" %></br>
					<%= f.text_field :leverage_multiple, placeholder: "Leverage Multiple", class: "entry-field" %></br>
					<h3>Exit Assumptions</h3>
					<%= f.text_field :exit_year, placeholder: "Exit Year (YYYY)", class: "entry-field" %></br>
					<%= f.text_field :exit_revenue, placeholder: "Revenue", class: "entry-field" %></br>
					<%= f.text_field :exit_gp, placeholder: "Gross Profit", class: "entry-field" %></br>
					<%= f.text_field :exit_EBITDA, placeholder: "EBITDA", class: "entry-field" %></br>
					<%= f.text_field :exit_capex, placeholder: "Capex", class: "entry-field" %></br>
					<%= f.text_field :exit_multiple, placeholder: "Exit Multiple", class: "entry-field" %></br>
					<%= f.text_field :debt_paydown_multiple, placeholder: "Debt Multiple Paid Down", class: "entry-field" %></br>
			</div>

			<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel Entry</button>
					<%= f.submit "Save Deal", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>	
</div>