<h1>Edit Deal: <%= @deal.name %></h1>
<br>

<%= form_for :deal, url: "/deals/#{@deal.id}", method: :patch do |f| %>
	<% unless @deal.errors.count == 0   %>
    <div>
      The form contains <%= pluralize(@deal.errors.count, "error") %>.
    </div>
    <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

	<%= f.label "Company Name: " %>
	<%= f.text_field :name, placeholder: "Enter Name", value: @deal.name %></br>
	<%= f.label "City: " %>
	<%= f.text_field :city, placeholder: "Enter City", value: @deal.city %></br>
	<%= f.label "State: " %>
	<%= f.text_field :state, placeholder: "Two Letter State Abbreviation", value: @deal.state %></br>
	<%= f.label "Round $ in: " %>
	<%= f.text_field :round_type, placeholder: "ex: millions", value: @deal.round_type %></br>
	<%= f.label "Entry Year: " %>
	<%= f.text_field :entry_year, placeholder: "YYYY", value: @deal.entry_year %></br>
	<%= f.label "Entry Revenue: " %>
	<%= f.text_field :entry_revenue, placeholder: "Enter Amount", value: @deal.entry_revenue %></br>
	<%= f.label "Entry Gross Profit: " %>
	<%= f.text_field :entry_gp, placeholder: "Enter Amount", value: @deal.entry_gp %></br>
	<%= f.label "Entry EBITDA: " %>
	<%= f.text_field :entry_EBITDA, placeholder: "Enter Amount", value: @deal.entry_EBITDA %></br>
	<%= f.label "Entry Capex: " %>
	<%= f.text_field :entry_capex, placeholder: "Enter Amount", value: @deal.entry_capex %></br>
	<%= f.label "Purchase Multiple: " %>
	<%= f.text_field :purchase_multiple, placeholder: "Enter Multiple", value: @deal.purchase_multiple %></br>
	<%= f.label "Leverage Multiple: " %>
	<%= f.text_field :leverage_multiple, placeholder: "Enter Multiple", value: @deal.leverage_multiple %></br>
	<%= f.label "Exit Year: " %>
	<%= f.text_field :exit_year, placeholder: "YYYY", value: @deal.exit_year %></br>
	<%= f.label "Exit Revenue: " %>
	<%= f.text_field :exit_revenue, placeholder: "Enter Amount", value: @deal.exit_revenue %></br>
	<%= f.label "Exit Gross Profit: " %>
	<%= f.text_field :exit_gp, placeholder: "Enter Amount", value: @deal.exit_gp %></br>
	<%= f.label "Exit EBITDA: " %>
	<%= f.text_field :exit_EBITDA, placeholder: "Enter Amount", value: @deal.exit_EBITDA %></br>
	<%= f.label "Exit Capex: " %>
	<%= f.text_field :exit_capex, placeholder: "Enter Amount", value: @deal.exit_capex %></br>
	<%= f.label "Exit Multiple: " %>
	<%= f.text_field :exit_multiple, placeholder: "Enter Multiple", value: @deal.exit_multiple %></br>
	<%= f.label "Debt Multiple Paid Down During Hold Period: " %>
	<%= f.text_field :debt_paydown_multiple, placeholder: "Enter Multiple", value: @deal.debt_paydown_multiple %></br>

	<%= f.submit "Update Deal", class: "btn btn-primary" %>
<% end %>
<%= button_to "Cancel Update", deal_path(@deal), method: :get, class: "btn btn-warning" %>