<%= render partial: "layouts/navbar" %>

<div class="container new-contain">
		  <div class="modal-header">  
		    <%= button_to "Deal Book", "/deals", method: :get, class: "btn btn-primary new-btn" %>
		    <h3 class="h3-view">New Deal</h3>
		  </div>

				<%= form_for(@deal) do |f| %>
					<div class="error-contain">
					<% unless @deal.errors.count == 0   %>
				    <div class="error-title">
				      The form contains <%= pluralize(@deal.errors.count, "error") %>.
				    </div>
				    <ul>
				      <% @deal.errors.full_messages.each do |msg| %>
				        <li class="error-detail"><%= msg %></li>
				      <% end %>
				    </ul>
				  <% end %>
					</div>

					<%= f.text_field :name, placeholder: "Company Name", class: "entry-text-field" %></br>
					<%= f.text_field :city, placeholder: "Company City", class: "entry-text-field" %></br>
					<%= f.text_field :state, placeholder: "Company State (ex: IN)", class: "entry-text-field" %></br>
					<%= f.text_field :round_type, placeholder: "ex: millions", class: "entry-text-field" %></br>
					<h3>Entry Metrics</h3>
					<%= f.text_field :entry_year, placeholder: "Entry Year (YYYY)", class: "entry-field" %></br>
					<%= f.text_field :entry_revenue, placeholder: "Revenue", class: "entry-field" %></br>
					<%= f.text_field :entry_gp, placeholder: "Gross Profit", class: "entry-field" %></br>
					<%= f.text_field :entry_EBITDA, placeholder: "EBITDA", class: "entry-field" %></br>
					<%= f.text_field :entry_capex, placeholder: "Capex", class: "entry-field" %></br>
					<%= f.text_field :purchase_multiple, placeholder: "Purchase Multiple", class: "entry-field" %></br>
					<%= f.text_field :leverage_multiple, placeholder: "Leverage Multiple", class: "entry-field" %></br>
					<h3>Exit Assumptions</h3>
					<%= f.text_field :exit_year, placeholder: "Exit Year (YYYY)", class: "entry-field" %></br>
					<%= f.text_field :exit_revenue, placeholder: "Revenue", class: "entry-field" %></br>
					<%= f.text_field :exit_gp, placeholder: "Gross Profit", class: "entry-field" %></br>
					<%= f.text_field :exit_EBITDA, placeholder: "EBITDA", class: "entry-field" %></br>
					<%= f.text_field :exit_capex, placeholder: "Capex", class: "entry-field" %></br>
					<%= f.text_field :exit_multiple, placeholder: "Exit Multiple", class: "entry-field" %></br>
					<%= f.text_field :debt_paydown_multiple, placeholder: "Debt Multiple Paid Down", class: "entry-field" %></br>
				
				<div class="modal-footer">
					<%= f.submit "Save Deal", class: "btn btn-primary new-form-btn" %>
					<%= button_to "Cancel Entry", deals_path, method: :get, class: "btn btn-warning new-form-btn" %>
				</div>
				<% end %>
</div>
