<!--
# Table name: deals
#
#  id                     :integer          not null, primary key
#  name                   :string(255)
#  city                   :string(255)
#  state                  :string(255)
#  round_type             :string(255)
#  entry_year             :integer
#  entry_revenue          :float
#  entry_gp               :float
#  entry_gm               :float
#  entry_EBITDA           :float
#  entry_EBITDA_margin    :float
#  entry_capex            :float
#  entry_fcf              :float
#  leverage_multiple      :float
#  leverage_amount        :float
#  equity_multiple        :float
#  equity_amount          :float
#  purchase_multiple      :float
#  purchase_price         :float
#  exit_year              :integer
#  exit_revenue           :float
#  exit_gp                :float
#  exit_gm                :float
#  exit_EBITDA            :float
#  exit_EBITDA_margin     :float
#  exit_capex             :float
#  exit_fcf               :float
#  exit_multiple          :float
#  exit_price             :float
#  debt_paydown_multiple  :float
#  debt_paydown_amount    :float
#  exit_debt_paydown      :float
#  exit_proceeds          :float
#  coc_return             :float
#  irr                    :float
#  entry_mult_sensitivity :float
#  exit_mult_sensitivity  :float
#  created_at             :datetime
#  updated_at             :datetime
-->

<h2><%= @deal.name %></h2>
<h3><%= @deal.city %>, <%= @deal.state %></h3>
<p>($ in <%= @deal.round_type %>)</p>
<br>
<h4>Cash-on-Cash Returns: <%= @deal.coc_return %></h4>
<br>
<h5>Entry Metrics</h5>
<h5>Entry Year: <p><%= @deal.entry_year %></p></h5>
<h5>Revenue: <p><%= @deal.entry_revenue %></p></h5>
<h5>Gross Profit: <p><%= @deal.entry_gp %></p></h5>
<h5>Gross Margin: <p><%= @deal.entry_gm %>%</p></h5>
<h5>EBITDA: <p><%= @deal.entry_EBITDA %></p></h5>
<h5>EBITDA Margin: <p><%= @deal.entry_EBITDA_margin %>%</p></h5>
<h5>Capex: <p><%= @deal.entry_capex %></p></h5>
<h5>Free Cash Flow: <p><%= @deal.entry_fcf %></p></h5>
<br>
<h5>Deal Terms</h5>
<h5>Leverage: <p><%= @deal.leverage_multiple %>x ($<%= @deal.leverage_amount %>)</p></h5>
<h5>Equity: <p><%= @deal.equity_multiple %>x ($<%= @deal.equity_amount %>)</p></h5>
<h5>Purchase Price: <p><%= @deal.purchase_multiple %>x ($<%= @deal.purchase_price %>)</p></h5>
<br>
<h5>Exit Assumptions</h5>
<h5>Exit Year: <p><%= @deal.exit_year %></p></h5>
<h5>Revenue: <p><%= @deal.exit_revenue %></p></h5>
<h5>Gross Profit: <p><%= @deal.exit_gp %></p></h5>
<h5>Gross Margin: <p><%= @deal.exit_gm %>%</p></h5>
<h5>EBITDA: <p><%= @deal.exit_EBITDA %></p></h5>
<h5>EBITDA Margin: <p><%= @deal.exit_EBITDA_margin %>%</p></h5>
<h5>Capex: <p><%= @deal.exit_capex %></p></h5>
<h5>Free Cash Flow: <p><%= @deal.exit_fcf %></p></h5>
<h5>Hold Period Debt Paydown: <p><%= @deal.debt_paydown_multiple %>x ($<%= @deal.debt_paydown_amount %>)</p></h5>
<br>
<h5>Exit Multiple: <p><%= @deal.exit_multiple %>x</p></h5>
<h5>Exit Price: <p>$<%= @deal.exit_price %></p></h5>
<h5>Debt Paydown: <p>$<%= @deal.exit_debt_paydown %></p></h5>
<h5>Equity Proceeds: <p>$<%= @deal.exit_proceeds %></p></h5>

<%= button_to "Edit Deal", edit_deal_path(@deal), method: :get, class: "btn btn-success" %>
<%= button_to "Kill Deal", "/deals/#{@deal.id}", method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to kill #{@deal.name}?" %>
<%= button_to "All Deals", deals_path, method: :get, class: "btn btn-primary" %>






