<!--
# Table name: deals
#
#  id                     :integer          not null, primary key
#  name                   :string(255)
#  city                   :string(255)
#  state                  :string(255)
#  round_type             :string(255)
#  entry_year             :integer
#  entry_revenue          :float
#  entry_gp               :float
#  entry_gm               :float
#  entry_EBITDA           :float
#  entry_EBITDA_margin    :float
#  entry_capex            :float
#  entry_fcf              :float
#  leverage_multiple      :float
#  leverage_amount        :float
#  equity_multiple        :float
#  equity_amount          :float
#  purchase_multiple      :float
#  purchase_price         :float
#  exit_year              :integer
#  exit_revenue           :float
#  exit_gp                :float
#  exit_gm                :float
#  exit_EBITDA            :float
#  exit_EBITDA_margin     :float
#  exit_capex             :float
#  exit_fcf               :float
#  exit_multiple          :float
#  exit_price             :float
#  debt_paydown_multiple  :float
#  debt_paydown_amount    :float
#  exit_debt_paydown      :float
#  exit_proceeds          :float
#  coc_return             :float
#  irr                    :float
#  entry_mult_sensitivity :float
#  exit_mult_sensitivity  :float
#  created_at             :datetime
#  updated_at             :datetime
-->

<h2><%= @deal.name %></h2>
<h3><%= @deal.city %>, <%= @deal.state %></h3>
<p>($ in <%= @deal.round_type %>)</p>
<br>
<h4>Cash-on-Cash Returns: <%= @deal.coc_return %>x</h4>
<br>
<h4>Entry Metrics</h4>
<h5>Entry Year: </h5><p><%= @deal.entry_year %></p>
<h5>Revenue: </h5><p><%= @deal.entry_revenue %></p>
<h5>Gross Profit: </h5><p><%= @deal.entry_gp %></p>
<h5>Gross Margin: </h5><p><%= @deal.entry_gm %>%</p>
<h5>EBITDA: </h5><p><%= @deal.entry_EBITDA %></p>
<h5>EBITDA Margin: </h5><p><%= @deal.entry_EBITDA_margin %>%</p>
<h5>Capex: </h5><p><%= @deal.entry_capex %></p>
<h5>Free Cash Flow: </h5><p><%= @deal.entry_fcf %></p>
<br>
<h4>Deal Terms</h4>
<h5>Leverage: </h5><p><%= @deal.leverage_multiple %>x ($<%= @deal.leverage_amount %>)</p>
<h5>Equity: </h5><p><%= @deal.equity_multiple %>x ($<%= @deal.equity_amount %>)</p>
<h5>Purchase Price: </h5><p><%= @deal.purchase_multiple %>x ($<%= @deal.purchase_price %>)</p>
<br>
<h4>Exit Assumptions</h4>
<h5>Exit Year: </h5><p><%= @deal.exit_year %></p>
<h5>Revenue: </h5><p><%= @deal.exit_revenue %></p>
<h5>Gross Profit: </h5><p><%= @deal.exit_gp %></p>
<h5>Gross Margin: </h5><p><%= @deal.exit_gm %>%</p>
<h5>EBITDA: </h5><p><%= @deal.exit_EBITDA %></p>
<h5>EBITDA Margin: </h5><p><%= @deal.exit_EBITDA_margin %>%</p>
<h5>Capex: </h5><p><%= @deal.exit_capex %></p>
<h5>Free Cash Flow: </h5><p><%= @deal.exit_fcf %></p>
<h5>Hold Period Debt Paydown: </h5><p><%= @deal.debt_paydown_multiple %>x ($<%= @deal.debt_paydown_amount %>)</p>
<br>
<h5>Exit Multiple: </h5><p><%= @deal.exit_multiple %>x</p>
<h5>Exit Price: </h5><p>$<%= @deal.exit_price %></p>
<h5>Debt Paydown: </h5><p>$<%= @deal.exit_debt_paydown %></p>
<h5>Equity Proceeds: </h5><p>$<%= @deal.exit_proceeds %></p>

<%= button_to "Edit Deal", edit_deal_path(@deal), method: :get, class: "btn btn-success" %>
<%= button_to "Kill Deal", "/deals/#{@deal.id}", method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to kill #{@deal.name}?" %>
<%= button_to "All Deals", deals_path, method: :get, class: "btn btn-primary" %>






