<% if !flash[:error].nil? %>
	<div><%= flash[:error] %></div>
<% end %>

<%= button_to "New Deal", new_deal_path, method: :get, class: "btn btn-success" %>

<h1>Deal Book</h1><br>

<% if @deals.blank? %>
	<p>
		No deals in book.
	</p>
<% else %>
	<table>
		<thead>
			<tr>
				<td>Company Name</td>
				<td>Location</td>
				<td>CoC Returns</td>
			</tr>
		</thead>
		<tbody>
			<% @deals.each do |d| %>
				<tr>
					<td><%= link_to d.name, "/deals/#{d.id}" %></td>
					<td><%= d.city %>, <%= d.state %></td>
					<td><%= d.coc_return.round(1) %>x</td>
				</tr>
			<% end %>
		</tbody>

	</table>
<% end %>
