<div class="container site-contain border">
	<% if !flash[:error].nil? %>
		<div><%= flash[:error] %></div>
	<% end %>

	<div class="container view-header">
		<h1 class="h1-view">DEAL BOOK</h1><br>

		<h2 class="h2-view">LBOs</h2>

		<a href="#newDealModal" role="button" class="btn btn-success new-btn" data-toggle="modal">New Deal</a>
	</div>

	<% if @deals.blank? %>
		<p>
			No deals in book.
		</p>
	<% else %>
		<table class="table table-striped">
			<colgroup>
				<col class="col-md-8"/>
				<col class="col-md-2"/>
				<col class="col-md-2"/>
			</colgroup>
			<thead class="tablehead">
				<tr>
					<td>Company Name</td>
					<td>Location</td>
					<td class="center">CoC Returns</td>
				</tr>
			</thead>
		</table>
			<% @deals.each do |d| %>
				<div class="panel-group" id="accordion">
  				<div class="panel panel-default">
    				<div class="panel-heading">
      				<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        					<table>
        						<colgroup>
        							<col class="col-md-8"/>
        							<col class="col-md-2"/>
        							<col class="col-md-2"/>
        						</colgroup>
        						<tbody><tr>
        							<td><%= link_to d.name, "/deals/#{d.id}" %></td>
        							<td><%= d.city %>, <%= d.state %></td>
        							<td class="center"><%= d.coc_return.round(1) %>x</td>
        						</tr></tbody>
        					</table>
        				</a>
      				</h4>
    				</div>
    				<div id="collapseOne" class="panel-collapse collapse in">
      				<div class="panel-body">
        				<div class="container show-contain border">
									<div class="modal-header">	
										<%= button_to "Edit Deal", "/deals/#{d.id}/edit", method: :get, class: "btn btn-primary show-btn" %>
										<%= button_to "Kill Deal", "/deals/#{d.id}", method: :delete, class: "btn btn-danger show-btn", confirm: "Are you sure you want to kill #{d.name}?" %>

										<h2><%= d.name %></h2>
										<h3><%= d.city %>, <%= d.state %></h3>
										<p><em>($ in <%= d.round_type %>)</em></p>
									</div>

										<h3>Cash-on-Cash Returns: <%= d.coc_return.round(1) %>x</h3>
										<br>
										<table class="table table-striped">
											<colgroup>
												<col class="col-md-4"/>
												<col class="col-md-4"/>
											</colgroup>
											<thead>
												<tr>
													<td><h4>Entry Metrics</h4></td>
													<td></td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><h5>Entry Year: </h5></td>
													<td class="center"><%= d.entry_year %></td>
												</tr>
												<tr>
													<td><h5>Revenue: </h5></td>
													<td class="center">$<%= d.entry_revenue %></td>
												</tr>
												<tr>
													<td><h5>Gross Profit: </h5></td>
													<td class="center">$<%= d.entry_gp %></td>
												</tr>
												<tr>
													<td><h5>Gross Margin: </h5></td>
													<td class="center"><%= d.entry_gm.round(1) %>%</td>
												</tr>
												<tr>
													<td><h5>EBITDA: </h5></td>
													<td class="center">$<%= d.entry_EBITDA %></td>
												</tr>
												<tr>
													<td><h5>EBITDA Margin: </h5></td>
													<td class="center"><%= d.entry_EBITDA_margin.round(1) %>%</td>
												</tr>
												<tr>
													<td><h5>Capex: </h5></td>
													<td class="center">$<%= d.entry_capex %></td>
												</tr>
												<tr>
													<td><h5>Free Cash Flow: </h5></td>
													<td class="center">$<%= d.entry_fcf %></td>
												</tr>
											</tbody>
										</table>
										<table class="table table-striped">
											<colgroup>
												<col class="col-md-4"/>
												<col class="col-md-4"/>
											</colgroup>
											<thead>
												<tr>
													<td><h4>Deal Terms</h4></td>
													<td></td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><h5>Leverage: </h5></td>
													<td class="center"><%= d.leverage_multiple %>x ($<%= d.leverage_amount.round(1) %>)</td>
												</tr>
												<tr>
													<td><h5>Equity: </h5></td>
													<td class="center"><%= d.equity_multiple %>x ($<%= d.equity_amount.round(1) %>)</td>
												</tr>
												<tr>
													<td><h5>Purchase Price: </h5></td>
													<td class="center"><%= d.purchase_multiple %>x ($<%= d.purchase_price.round(1) %>)</td>
												</tr>
											</tbody>
										</table>
										<table class="table table-striped">
											<colgroup>
												<col class="col-md-6"/>
												<col class="col-md-6"/>
											</colgroup>
											<thead>
												<tr>
													<td><h4>Exit Assumptions</h4></td>
													<td></td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><h5>Exit Year: </h5></td>
													<td class="center"><%= d.exit_year %></td>
												</tr>
												<tr>
													<td><h5>Revenue: </h5></td>
													<td class="center">$<%= d.exit_revenue %></td>
												</tr>
												<tr>
													<td>Gross Profit: </h5></td>
													<td class="center">$<%= d.exit_gp %></td>
												</tr>
												<tr>
													<td><h5>Gross Margin: </h5></td>
													<td class="center"><%= d.exit_gm.round(1) %>%</td>
												</tr>
												<tr>
													<td><h5>EBITDA: </h5></td>
													<td class="center">$<%= d.exit_EBITDA %></td>
												</tr>
												<tr>
													<td><h5>EBITDA Margin: </h5></td>
													<td class="center"><%= d.exit_EBITDA_margin.round(1) %>%</td>
												</tr>
												<tr>
													<td><h5>Capex: </h5></td>
													<td class="center">$<%= d.exit_capex %></td>
												</tr>
												<tr>
													<td><h5>Free Cash Flow: </h5></td>
													<td class="center">$<%= d.exit_fcf %></td>
												</tr>
												<tr>
													<td><h5>Hold Period Debt Paydown: </h5></td>
													<td class="center"><%= d.debt_paydown_multiple %>x ($<%= d.debt_paydown_amount %>)</td>
												</tr>
											</tbody>
										</table>
										<table class="table table-striped">
											<colgroup>
												<col class="col-md-6"/>
												<col class="col-md-6"/>
											</colgroup>
											<thead>
												<tr>
													<td><h4>Exit Results</h4></td>
													<td></td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><h5>Exit Multiple: </h5></td>
													<td><%= d.exit_multiple %>x</td>
												</tr>
												<tr>
													<td><h5>Exit Price: </h5></td>
													<td>$<%= d.exit_price %></td>
												</tr>
												<tr>
													<td><h5>Debt Paydown: </h5></td>
													<td>$<%= d.exit_debt_paydown %></td>
												</tr>
												<tr>
													<td><h5>Equity Proceeds: </h5></td>
													<td>$<%= d.exit_proceeds %></td>
												</tr>
											</tbody>
										</table>

								</div>
      				</div>
    				</div>
  				</div>
  			</div>
					
			<% end %>
		
	<% end %>
</div>

<!-- modal for NEW DEAL -->
<%= render partial: "deals/newDealModal" %>